/* Body */
body {
  font-family: Plain, Arial, Helvetica, sans-serif;
}


/* Elements */
h1 {
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 4px;
}

h2 {
  font-size: 16px;
}

/* Links */
a {
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #2fa2de;
  text-decoration: none;
}

/* Lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

hr {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  }

/* Blocks */
header {
  margin-right: 8px;
  text-align: left;
}

nav {
  grid-column-start: 2;
  grid-column-end: 3;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  font-weight: bold;
}

aside {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 20px;
  margin-left: 0px;
}

aside img {
  width: 100px;
}

article {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 15px;
  min-width: 240px;
  max-width: 600px;
  min-height: 240px;
}

article a {
  color: #2fa2de;
  text-decoration: none;
}

article a:active {
  color: black;
  text-decoration: none;
}

article a:hover {
  color: black;
  text-decoration: none;
}


/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto auto;
    gap: 2px;
    padding: 2px;
  }


/* Dropdowns */
.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  min-width: 90px;
  z-index: 1;
}

.dropdown-content a {
  padding: 3px 0px;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Company Logos */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.logo {
  position: relative;
  display: inline-block;
  padding: 50px;
}

.logo img {
  width: 100px;
}
